@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: rgb(13, 3, 58);
    color: #ededed;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.nombre{
    font-size: 30px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.nave a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 400;
    margin-left: 30px;
    transition: .3s;
}

.nave a:hover,
.nave a.siempre{
    color: rgb(12, 134, 172);
}

.inicio{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}
.inicio-cont{
    max-width: 600px;
}